$break-small: 375px;
$break-large: 768px;

body {
  overflow-x: hidden;
  font-weight: 200;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  justify-content: center;
  margin: 0;
}

.playlist {
  margin: 16px 64px;
  padding: 16px;
  box-sizing: border-box;

  @media screen and (max-width: $break-large) {
    margin: 16px 32px;
  }

  @media screen and (max-width: $break-small) {
    margin: 16px;
  }

  .flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

}

.song {
  display: flex;
  flex-flow: column;
  margin: 8px;
  padding: 16px;
  background-color: #FFF;
  
  .click {
    user-select: none;
    cursor: pointer;
  }

}

.art {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  opacity: 0.60;
  
  @media screen and (max-width: $break-large) {
    font-size: 16px;
  }

  @media screen and (max-width: $break-small) {
    font-size: 12px;
  }
}

.tra {
  font-family: 'Raleway';
  font-weight: 900;
  font-size: 32px;
  opacity: 0.87;

  @media screen and (max-width: $break-large) {
    font-size: 24px;
  }

  @media screen and (max-width: $break-small) {
    font-size: 18px;
  }
}

.click:hover {
  .tra {
    text-decoration: underline;
  }
}

::-webkit-scrollbar {
  display: none;
}

.w12 {
  background-color: #FAACA8;
}

.w14 {
  background-color: #518ce2;
}

.w41 {
  background-color: #044535;
}

.w42 {
  background-color: #BC2111;
}

.w43 {
  background-color: #050825;
}

.w45 {
  background-color: #306230;
}

.w46 {
  background-color: #cefaa8;
}

.w47 {
  background-color: #006db7;
}

.w48 {
  background-color: #f3e641;
}

.w49 {
  background-color: #df9a59;
}

.w51 {
  background-color: rgb(125, 188, 250);
}

.w52 {
  background-color: #db7efb;
}

.w00 {
  background-color: #C82F25;
}

.w01 {
  background-color: #ef8285;
}

.w02 {
  background-color: #FBDA61;
}

.w25 {
  background-color: #FBDA61;
}

.w28 {
  background-color: rgb(231, 128, 128);
}

.w29 {
  background-color: rgb(67, 122, 95);
}

.w32 {
  background-color: #bc523c;
}

.nav {
  width: 100vw;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  font-style: italic;
  z-index: 1;
  padding: 32px 0 16px;
  a {
    text-decoration: none;
    color: #fff;
  }
}