@import url('https://fonts.googleapis.com/css?family=Montserrat:800i|Quicksand:300,400');

body {
  margin: 0;
  background-color: #044535;
  overflow: hidden;

}

#bg {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 22vw;
  color: #001912;
  user-select: none;
  cursor: default;
}

#playlist {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand';
  color: white;
  font-size: 2vw;
  margin-left: 7vw;

  @media screen and (min-width: 600px) {
    font-size: 2vw;
    margin-left: 9vw;
  }

  @media screen and (min-width: 960px) {
    font-size: 1.6vw;
    margin-left: 11vw;
  }

  @media screen and (min-width: 1280px) {
    font-size: 1.55vw;
    margin-left: 13vw;
  }

  @media screen and (min-width: 1600px) {
    font-size: 1.5vw;
    margin-left: 15vw;
  }

}

ul {
  margin: 0;
  padding: 0;
}

th {
  font-weight: 300;
  text-align: right;
  padding-right: 1em;
}

td {
  font-weight: 300;
  opacity: 0.7;
}

tr:hover {
  text-decoration: underline;
}

::-webkit-scrollbar {
    display: none;
}
