@import url("https://fonts.googleapis.com/css?family=Catamaran");

body {
  font-family: "Montserrat", sans-serif;
  background-color: #1d406d;
  background-image: linear-gradient(40deg, rgb(37, 179, 240) 0%, #1d406d 100%);
  min-width: 100vw;
  min-height: 100vh;
  margin: 0px;
}

#bigR {
  display: flex;
  flex-flow: column;
  width: 100vw;
  color: #fff;
  padding: 50px 0px;
  box-sizing: border-box;

  #title {
    font-size: 125px;
    font-weight: 900;
    font-style: oblique;
    text-align: center;
  }

  #desc {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
  }
}

#playlist {
  padding: 0px 250px 50px 250px;
  box-sizing: border-box;
  color: #fff;

  .song {
    display: flex;
    flex-flow: column;
    padding-bottom: 25px;
    word-wrap: break-word;

    .author {
      font-size: 15px;
      font-weight: 100;
      text-align: left;
    }
    .title {
      font-size: 35px;
      font-weight: 800;
      text-align: left;
    }
  }

  .song:hover {
    cursor: pointer;
    .title {
      text-decoration: underline;
    }
  }
}
